@font-face {
  font-family: 'Creattion';
  src: url('./fonts/Creattion.otf');
  /* Add additional font formats if necessary */
  /* Specify the correct path to the font files */
}

.App {
  text-align: center;
}